{% autoescape false %}
<div id="form_container">
 <form id="form_904777" form action="/GetStreamData" method="post" action="">
 <div class="form_description"></div>            
    <div id="create_form">
    	<div>
      		<input id="streamname" name="streamname" class="element text medium" type="text" maxlength="255" value=""/><br>
      		<label class="description" for="streamname">Name Your Stream </label>
    	</div> 
    	<div>
      		<textarea id="subscribers" name="subscribers" class="element textarea medium"></textarea><br>
      		<label class="description" for="subscribers">Add Subscribers </label>
    	</div>
    	<div>
      		<textarea id="submessage" name="submessage" class="element textarea medium"></textarea><br>
      		<label class="description" for="submessage">(Optional) Message For Subscribers </label>
    	</div>
    	<div>
      		<input id="tags" name="tags" class="element text medium" type="text" maxlength="255" value=""/><br>
      	<label class="description" for="submessage">(Optional) Message For Subscribers </label>
    	</div>
    	<div>
      		<input id="coverurl" name="coverurl" class="element text medium" type="text" maxlength="255" value=""/><br> 
      	<label class="description" for="coverurl">(Optional) URL For Cover Image </label>
    	</div>
    	<class="buttons">
    		<input type="hidden" name="form_id" value="904777" /> 
    		<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
    	</>
      	</ul>
	</div>
 </form> 
</div>
</body>
</html>
{% endautoescape %}