<!DOCTYPE html><html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Connex.us!</title>
</head>           
<body>
	<head><h1>Connex.us</h1></head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Connex.us</title>
<style type="text/css">
#list 
.horizontal { display: inline; border-left: 2px solid; padding-left: 0.8em; padding-right: 0.8em; }
.first { border-left: none; padding-left: 0; }
</style>
</head>

<div>
<body>
<ul id="list">
<li class="horizontal first"><a href="http://{{ app_id }}/MgmtPage">Manage</a></li>  
<li class="horizontal"><a href="http://{{ app_id }}/CreatePage">Create</a></li>
<li class="horizontal"><a href="http://{{ app_id }}/ViewAllStreamsPage">View</a></li>
<li class="horizontal first"><a href="http://{{ app_id }}/SearchPage">Search</a></li>
<li class="horizontal"><a href="http://{{ app_id }}/TrendingPage">Trending</a></li>
<li class="horizontal"><a href="http://{{ app_id }}/SocialPage">Social</a></li>
</ul>
</div>
{{ other_html }}
</body>
</html>