{% autoescape false %}
<!DOCTYPE html><html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Connex.us!</title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/dark-hive/jquery-ui.css" id="theme">
	<link rel="stylesheet" href="css/demo.css">
	<style> /* Adjust the jQuery UI widget font-size: */
        .ui-widget {
        font-size: 0.95em;
    }
    </style>
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="css/jquery.fileupload.css">
    <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
</head>

<body>
<div id="titleconnex">Connex.us!</div>
<div>
<ul id="list">
<li class="horizontal first"><a href="http://{{ app_id }}/MgmtPage">Manage</a></li>  
<li class="horizontal"><a href="http://{{ app_id }}/CreatePage">Create</a></li>
<li class="horizontal"><a href="http://{{ app_id }}/ViewAllStreamsPage">View</a></li>
<li class="horizontal first"><a href="http://{{ app_id }}/SearchPage">Search</a></li>
<li class="horizontal"><a href="http://{{ app_id }}/TrendingPage">Trending</a></li>
<li class="horizontal"><a href="http://{{ app_id }}/SocialPage">Social</a></li>
</ul>
</div>
{{ other_html }}

{% endautoescape %}