{% autoescape false %}

<!DOCTYPE html>

  
  
		<div class="container_16">
			<article class="grid_16">
				<div class="item rounded dark">
					<div id="map_canvas" class="map"></div>
				</div>

        <div id="slider"></div>
        <label id="handle1">Test</label>
        <lable id="handle2">Test</label>





		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
		<script src="js/jquery-1.11.1.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <!--<script src="/js/min/jquery.ui.map.full.min.js" type="text/javascript"></script>-->
        <script type="text/javascript" src="js/ui/jquery.ui.map.js"></script>
		<script type="text/javascript" src="js/underscore-1.2.2/underscore.min.js"></script>
		<script type="text/javascript" src="js/backbone-0.5.3/backbone.min.js"></script>
		<script type="text/javascript" src="js/prettify/prettify.min.js"></script>
		<script type="text/javascript" src="js/markerclustererplus-2.0.6/markerclusterer.min.js"></script>
		<script type="text/javascript" src="js/mapview.js"></script>



		 
</body>
</html>
{% endautoescape %}