body {
	background-color: #C8C8C8;
}

h2 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10x;
	color: #FFFFFF;
	font-size: 50px; 
	margin-top: auto; 
	margin-bottom: auto;
}

#navbar {
	margin-top: -5px;
}

#header {
	position: relative;
	top: -5px;
	background-color: #009999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.horizontal { 
	display: inline; 
	border-left: 2px solid; 
	padding-left: 0.8em; 
	padding-right: 0.8em; 
	font-family: Arial, 
	sans-serif; 
	font-size: 24px; 
	background-color: #009999;
}  

#create_form {
	float: left;
	width: 45%;
}

#form_container {
	background-color: transparent;
}

.form_description {
	background-color: transparent;
}

.button {
    height:50px;
    width:120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #C8C8C8;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #C8C8C8;
    text-decoration: none;
}

.first { border-left: none; padding-left: 0; }

.description {font-family: Arial, sans-serif; font-size: 18px;}

.button_text {font-family: Arial, sans-serif; font-size: 18px;}

.form_container { background-color: transparent;}

.start {font-family: Arial, sans-serif; font-size: 18px;}

.tg {background-color: transparent; border-radius: 5px;}

#list {font-color: #000000;}

#ownstreams {font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; background-color: transparent;}

#subscribestreams {font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; background-color: transparent;}

#trendingstreams {font-family: Arial, sans-serif; font-size: 18px;}

#aside {font-family: Arial, sans-serif; font-size: 18px;}

#StreamsLink {border-radius: 5px;}

#updaterate2 {font-family: Arial, sans-serif; font-size: 18px;}

#Filename {font-family: Arial, sans-serif; font-size: 18px;}

#Label  {font-family: Arial, sans-serif; font-size: 18px; border: none; background-color: #C8C8C8; }

#Searchsubmit {font-family: Arial, sans-serif; font-size: 18px;}

#resultstring {font-family: Arial, sans-serif; font-size: 18px;}

#view {font-family: Arial, sans-serif; font-size: 18px;}

#searchinput {font-family: Arial, sans-serif; font-size: 18px;}

#Pagerange {font-family: Arial, sans-serif; font-size: 18px; border: none; background-color: #C8C8C8;}

#Streamname {font-family: Arial, sans-serif; border: none; font-size:24px; font-weight: bold; width: 600px; background-color: #C8C8C8;}



